<div class="container__big-card">
    <div class="big-card__image">
        <img src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png"
        alt="Imagem placeholder" 
        height="250px"
        >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Este é o título do card</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Egestas diam in arcu cursus. Fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Ultricies integer quis auctor elit 
            sed vulputate mi sit amet. Mattis pellentesque id nibh tortor id aliquet.</a></p>
    </div>
</div>